/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @media (min-width: 1550px){
  .btn-lg {
    font-size: 64px !important;
    padding:  0px 15px 0px 15px !important;
    margin-bottom: 0;
  }
    
 }
 @media (max-width: 1549px){
  .btn-lg {
  font-size: 48px !important;
  padding:  0px 15px 0px 15px !important;
  margin-bottom: 0;
}

 }

 @media (min-width: 768px){
 .navbar-nav > li > a {
     padding-top: 0px;
     padding-bottom: 0px;
 }
 .navbar-nav {
  float: none;
  margin: 0;
}
.navbar-expand-lg .navbar-toggler {
  display: none;
}
}

@media (min-width: 980px){
  .page-top{
    min-height: 160px;
    background-color: rgb(185, 185, 185);
  /*  background-image: asset_url("tlo.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
 */  z-index: 1 !important;
  }
 
}

#head1{
  font-size: 36px !important;
}

.navbar-light .navbar-toggler-icon{
  background-size: 60px 60px;
  width: 60px;
  height: 60px;
}

.logo{
  background-image: asset_url('1.png');
  height: 140px;
  width: 380px;
  background-size: contain;
  background-repeat: no-repeat;
}


#about-card{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}



.text-dark {
  color: rgb(53, 53, 53) !important;

}

.btn-lg a:hover{
  color: black;
  text-decoration: none;

}
 .my-scroll
{
  overflow: auto;
  height: 70vh;
}

  .card-div
  {
  }


  .card-inner {
    transition: all 0.5s ease-in-out;
  }


  .card-inner:hover{
    z-index: 1000 !important;

    transform: scale(1.5);

  }


  h2{
    font-size: 48px !important;
  }

  h3{
    font-size: 32px !important;
  }
  h4{
    font-size: 26px !important;
  }
  h5{
    font-size: 20px !important;
  }
  h6{
    text-indent: 30px;
    font-size: 16px !important;
  }

  .law-nav{
    font-size: 18px !important;
  }
  .law-nav p{
    font-size: 26px !important;
  }

  .law-nav .nav-sm-item{
    font-size: 16px !important;
    
  }

  .law-nav a{
    color: black !important;
  }

 body{
   padding-top: 0px !important;
   margin: 0px !important;
   top: -30px;
   position: relative;
   height: 100vh;
   overflow: hidden;
}
 
.my-carousel{
  border-radius: 20px !important;
}

.my-nav{
  font-size: 56px;
  font-family: 'Alata', sans-serif; 
  padding: 0px;

}

.card-title{
  font-size: 20px !important;
}

.card-text{
  font-size: 14px !important;
}

p{
  margin-bottom: 0px !important;
}

#main_container{
  font-size: 28px ;
  font-family: 'Alata', sans-serif; 
  height: calc(100vh - 180px);
  width: 100%;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#head{
  font-size: 28px !important;
}

.p-6{
  padding: 50px !important;
}


 .logo2{
   width: 100%;
   min-height: 150px;
  background-image: asset_url('1.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

.carousel-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  margin-bottom: 30px;
}

.carousel-text {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  height: 48px;
  margin: 0 auto;
  text-align: center;
  line-height: 50px !important;
}
.inner {
    animation: scroll 5s ease-in-out infinite;
}
.element {
  font-size: 1.1em;
  text-shadow: 0px 2px 2px #8b8b8b;
}

@keyframes scroll {
  0%, 20% {
		transform: translateY(0);
	}
	25%,45% {
		transform: translateY(-50px);
	}
	50%,70% {
		transform: translateY(-100px);
	}
	75%,95% {
		transform: translateY(-150px);
	}
	100% {
		transform: translateY(-200px);
	}
}